.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-mdc-card {
  width: 800px;
  height: 400px;
  gap: 3rem;

  .mat-mdc-card-header {
    justify-content: center;
    align-items: center;
  }

  .mat-mdc-card-title {
    font-size: 2rem;
  }

  .mat-mdc-card-content {
    font-size: 1rem;
    height: 50%;
  }
}
